{{!-- creates each comment --}}
<section class="comment">
  <header class="blog-header"></header>

  <div class="blog-text">
    <p>{{text}}</p>
    <p class="user-details">- {{user.username}}, {{format_date created_date}}</p>
  </div>

</section>