<section class="post">
  <a href="/dashboard/{{id}}">
    <header class="blog-header">
      <h2>{{title}}</h2>
      <p class="blog-details">{{format_date created_date}}</p>
    </header>
    </a>
  
</section>