<!--main handlebars layout -->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <header class="main">
        <nav>
          <a href="/">Home</a>
          <!-- Conditionally render login or logout text -->
          {{#if logged_in}}
          <a href="/dashboard">Dashboard</a>
            <button id="logout" class="logout-button">Logout</button>
          {{else}}
          <a href="/login">Dashboard</a>
            <a href="/login">Login</a>
          {{/if}}
        </nav>
          <!-- Conditionally render the header text -->
        <div class="logo-container">
          <h1>{{title}}</h1>
        </div>

      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>