
{{!-- If there are posts by this user, they will show, otherwise "no posts yet" text --}}
{{#if posts_created}}

{{#each posts as |blog|}}
{{> blog-details}}
{{/each}}

{{else}}
<div class="no-posts">
<h1>No posts yet</h1>
</div>

{{/if}}

<div class="button-container">
    <a href="/dashboard/post"><button id="post-button" class="post-button" href="/post">+ New Post</button></a>
</div>