<section class="post">
    <header class="blog-header">
      <h2>Edit Post</h2>
    </header>
    </a>
    <div class="blog-text">
    <div class="form-group">
      <label for="post-title">Title</label>
      {{!-- <input class="form-input" type="text" id="post-title" value={{{title}}}/> --}}
      {{{title_input post.title}}}
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      {{!-- <textarea class="form-input" value={{posts.text}} id="post-content"></textarea> --}}
            {{{content_input post.text}}}
    </div>
    <div class="form-group">
      <button class="login-button space" id="edit-post" type="submit">Update Post</button>
      <button class="login-button" id="delete-post" type="submit">Delete</button>

    </div>

    </div>
  
</section>


<script src="/js/editPost.js"></script>