{{! Create a new post page }}
<section class="post">
  <header class="blog-header">
    <h2>Create New Post</h2>
  </header>
  <div class="blog-text">
    <div class="form-group">
      <label for="post-title">Title</label>
      <input class="form-input" type="text" id="post-title" />
    </div>
    <div class="form-group">
      <label for="post-content">Content</label>
      <textarea class="form-input" id="post-content"></textarea>
    </div>
    <div class="form-group">
      <button
        class="login-button"
        id="create-post"
        type="submit"
      >Create</button>
    </div>
  </div>
</section>

<div class="button-container">
  <a href="/dashboard/post"><button
      id="post-button"
      class="post-button"
      href="/post"
    >+ New Post</button></a>
</div>

{{! Call the new post function }}
<script src="/js/newPost.js"></script>